body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#encode_preview, #decode_preview {
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
